<div class="container">
  <div class="row mt-5" *ngIf="organization">
      <div class="col-md-10 mx-auto">
          <div class="card">
              <div class="card-header text-center">
                  Detalle
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>ID: </b>{{organization.id}}</li>
                  <li class="list-group-item"><b>Nombre: </b>{{organization.name}}</li>
                  <li class="list-group-item"><b>CIF: </b>{{organization.legalEntity}}</li>
                  <ul *ngFor="let chargerPoint of chargerPoints">
                    <table class="table text-center">
                      <tbody>
                        <tr>
                          <td><b>Nombre del cargador: </b>{{chargerPoint.name}}</td>
                          <td><button class="btn btn-outline-warning" routerLink="/editCharger/{{chargerPoint.id}}"><i class="far fa-edit"></i> Editar</button></td>
                          <td><button class="btn btn-outline-danger" (click)="delete(chargerPoint.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </ul>
              </ul>
              <div class="card-footer">
                  <button class="btn btn-outline-primary btn-block" (click)="goList()"><i
                          class="fas fa-arrow-alt-circle-left"></i> Volver</button>
              </div>
          </div>

      </div>
  </div>
</div>